@import "tailwindcss";

body{
    background: #0e0e0e;
    color:white;
}

p{
    text-align: justify;
}

@font-face {
  font-family: 'JustSansOutline';
  src: url('asset/justSansOutlineExBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sans-outline {
  font-family: 'JustSansOutline', sans-serif;
}